body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0vh;
    font-family: 'Arial', sans-serif;
    background-color: #0d3d3e;
}

.calculator {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #ecf0f1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 300px;
}

#display {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 1.5em;
    padding: 10px;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e6e6e6;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 20px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #042427;
    color: #ecf0f1;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0c3b30;
}

button:active {
    background-color: #031d21;
}
